body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    background: #f5f4ed;
    padding: 2em 5%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.main {
  margin-bottom: 100px;
}

h1 {
  color: #d38541;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 2.5em;
}

h2 {
  color: #4b6b86;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h3 {
  color: #252d2a;
  font-weight: 500;
  font-size: 1.25em;
}

.flash-message {
  color: #fcfbf7;
  background: #47c69f;
  padding: 0.5em 1em;
  border-radius: 5px;
}

/* Top nav bar */
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Site logo */
.top-bar > .nile {
  font-size: 3em;
  font-family: 'Syne', sans-serif;
  color: #2c7962; /* NILE GREEN */
  line-height: 1;
}

/* Top right navigation */
.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0em;
}

/* Nav buttons/links */
.nav-buttons > div > a {
  font-size: 1.5em;
  font-weight: 500;
  color: #194639;
  border: 0;
  padding: 0.5em 1em 0.5em 1em;
  transition: 0.15s;
}
.nav-buttons > div > a:hover {
  color: #d38541;
  transition: 0.15s;
}

/* User-specific nav bar */
.bottom-bar {
  font-size: 1.2em;
  color: #252d2a;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  border-top: 3px solid #e5e1cf;
}

.greeting {
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0em;
}

.user-nav > div > a {
  color: #252d2a;
  padding: 5px 1em;
  height: 100%;
  transition: 0.2s;
}
.user-nav > div > a:hover {
  color: #2c7962;
  background: #e5e1cf;
  transition: 0.2s;
}

/* Login page */
.login {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.login-form > form {
  margin-top: 50px;
  font-size: 2em;
}

.login-form > form > p > input {
  font-size: 0.75em;
  color: #194639;
  padding: 10px 15px;
}

.form-error {
  color: red;
  font-size: 0.7em;
}

.form-submit-button {
  color: #e5e1cf;
  background: #2c7962;
  padding: 0.5em 1em;
  border: none;
  font-size: 0.5em;
  font-weight: 500;
  transition: 0.2s;
}

.form-submit-button:hover {
  color: #2c7962;
  transition: 0.2s;
  cursor: pointer;
  background: #f9cba4;
}

.form-register-button {
  color: #252d2a;
  background: #fcfbf7;
  padding: 0.675em 1em;
  border: none;
  font-size: 0.5em;
  font-weight: 500;
  margin-left: 5px;
  transition: 0.2s;
}

.form-register-button:hover {
  color: #2c7962;
  background: #e5e1cf;
  transition: 0.2s;
}

/* PAGE CONTENT */
.page-content {
  padding: 0 5em;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.page-form-section {
  padding-bottom: 20px;
}

.page-form-section:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 75%; /* Change this to whatever width you want. */
  padding-top: 70px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #e5e1cf; /* This creates the border. Replace black with whatever color you want. */
}

.quick-actions {
  display: flex;
  gap: 1em;
}

.quick-actions-button {
  font-weight: 500;
  color: #2c7962;
  background: #fcfbf7;
  padding: 0.5em 1em;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0,0.25);
  transition: 0.2s;
}

.quick-actions-button:hover {
  color: #f5f4ed;
  background: #2c7962;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0,0.2);
  transition: 0.2s;
}

.quantity-cell {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.edit-button {
  color: #5caac6;
  transition: 0.15s;
}
.edit-button:hover {
  color: #4b6b86;
  transition: 0.15s;
}


/* Overriding bootstrap styling */
th {
  background: #e5e1cf !important;
  border: 2px solid #252d2a !important;
  color: #252d2a !important;
  font-weight: 500;
}
td {
  border: 2px solid #e5e1cf !important;
}

/* Displaying items in a grid */
.grid {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  gap: 2em;
  padding-bottom: 50px;
}

.grid-item {
  color: #252d2a;
  width: 425px;
  background: #eae8df;
  border: 2px solid #e5e1cf;
  font-size: 1em;
  transition: 0.2s;
}

.grid-item:hover {
  color: #252d2a;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0,0.25);
  transition: 0.2s;
}

.item-image {
  margin-bottom: 30px;
}

.item-image > img {
  height: 150px;
  object-fit: contain;
}

.item-category {
  font-style: normal;
  background: blue;
  font-weight: 500;
  font-size: 0.85em;
  background: #2c7962;
  color: #f5f4ed;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.item-description {
  margin: 10px 0 10px 0;
  line-height: 1.3em;
}

.item-price {
  font-weight: 500;
}

.item-quantity > form{
  display: inline;
}

.page-form-section input[type="submit"] {
  color: #2c7962;
  background: #f5f4ed;
  border: 2px solid #aca99b;
  padding: 0.5em 1em;
  font-size: 0.85em;
  font-weight: 500;
  transition: 0.2s;
  margin-top: 10px;
}

.page-form-section input[type="submit"]:hover {
  color: #f5f4ed;
  border: 2px solid #2c7962;
  transition: 0.2s;
  cursor: pointer;
  background: #2c7962;
}

.bold {
  font-weight: 600;
}

.product-details > div {
  margin: 10px 0;
}

.product-details > img {
  height: 300px;
  object-fit: contain;
  margin-bottom: 25px;
}

.product-details-info {
  margin-bottom: 40px;
}

.delete-button {
  background: #f5f4ed;
  padding: 0.675em 1em;
  font-size: 0.85em;
  font-weight: 500;
  transition: 0.2s;
  margin-top: 50px;

  color: #d65050;
  border: 2px solid #d65050;
  margin-left: 5px;
}
.delete-button:hover {
  color: #f5f4ed;
  background: #d65050;
  transition: 0.2s;
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 7.5px 0;
}
.add-button {
  background: #f5f4ed;
  font-size: 0.85em;
  font-weight: 500;
  transition: 0.2s;
  color: #2c7962;
  border: 2px solid #2c7962;
  padding: 2px 5px;
}
.add-button:hover {
  color: #f5f4ed;
  background: #2c7962;
  transition: 0.2s;
}

.order-item-fulfilled {
  color: #252d2a;
  width: 1000px;
  background: #eae8df;
  border: 2px solid #e5e1cf;
  font-size: 1em;
  transition: 0.2s;
}

.order-item-fulfilled:hover {
  color: #252d2a;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0,0.25);
  transition: 0.2s;
}

.order-item-unfulfilled {
  color: #252d2a;
  width: 1000px;
  background: #fcfbf7;
  border: 2px solid #e5e1cf;
  font-size: 1em;
  transition: 0.2s;
}

.order-item-unfulfilled:hover {
  color: #252d2a;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0,0.25);
  transition: 0.2s;
}

.item-ids {
  display: flex;
  font-size: 0.8em;
  padding: 5px 0;
  border-bottom: 2px solid #e5e1cf;
}

.order-item-fulfilled:hover .main-id, .order-item-fulfilled:hover .second-id {
  color: #47c69f;
  transition: 0.2s;
}
.order-item-unfulfilled:hover .main-id, .order-item-unfulfilled:hover .second-id {
  color: #cea702;
  transition: 0.2s;
}

.main-id, .second-id {
  transition: 0.2s;
}

.item-ids div {
  padding: 0px 10px;
}

.item-ids > .second-id, .item-ids > .third-id {
  border-left: 1px solid #aca99b;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.order-details-upper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  align-items: baseline;
}

.order-details-lower {
  padding: 0px 10px 10px 10px;
}

.date-ordered {
  font-size: 0.8em;
  padding: 5px 10px;
  border-top: 2px solid #e5e1cf;
}

.sort {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 0.9em;
  font-weight: 500;
  color: #aca99b;
}

.item-details {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.item-details-image > img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.item-details-bottom {
  font-size: 0.8em;
  padding: 5px 10px;
  border-top: 2px solid #e5e1cf;
}

.item-details-content {
  padding: 10px 10px 10px 0px;
}

