<!--A users overall review page (includes seller and product reviews)-->
{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class = "page-content">
  {% if showAnimation %}
    <div class = "snowflakes">
      {% for i in range(10) %}
      <div class = "snowflake">🎉</div>
      {% endfor%}
    </div>
  {% endif %}

<div class="page-content">
  <h1>Reviews</h1>    

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div>
    <h2>Your Product Reviews</h2>
    
    <div class="grid">
      {% for tuple in product_reviews%}
      <a href="{{ url_for('reviews.view_product_review', pid=tuple.pid) }}" class="grid-item">
          <h3>Product: {{tuple.name}}</h3>
          <!--<div>Product ID: {{tuple.pid}}</div>-->
          <div>Date: {{tuple.date}}</div>
          <div>Review: {{tuple.review}}</div>
          <div>Rating: {{tuple.rating}}</div>
        </a>
      {% endfor %}
    </div>


    <h2>Your Seller Reviews</h2>
    <div class="grid">
      {% for tuple in seller_reviews%}
      <a href="{{ url_for('reviews.view_seller_review', sid=tuple.sid) }}" class="grid-item">
          <h3>Seller ID: {{tuple.sid}}</h3>
          <div>Date: {{tuple.date}}</div>
          <div>Review: {{tuple.review}}</div>
          <div>Rating: {{tuple.rating}}</div>
        </a>
      {% endfor %}
    </div>

  </div>
</div>

{% endif %}

{% endblock %}
