<!--Page to write a product review-->

{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class = "page-content">
  {% if showAnimation %}
    <div class = "snowflakes">
      {% for i in range(10) %}
      <div class = "snowflake">💸</div>
      {% endfor%}
    </div>
  {% endif %}

<div class="page-content">
  <h1>Reviews</h1>    

  <div class="page-form-section">
    <h2>Write a Product Review for {{ productname.name }} </h2>
    <form action="" method="post" enctype="multipart/form-data">
      {{ add_form.hidden_tag() }}
      {{ add_form.csrf_token }}
      <p>
        {{ add_form.rating.label }}<br/>
        {{ add_form.rating(size=32) }}<br/>
        {% for error in add_form.rating.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ add_form.review.label }}<br/>
        {{ add_form.review(size=32) }}<br/>
        {% for error in add_form.review.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ add_form.submit() }}</p>
    </form>
  </div>
</div>

{% endif %}

{% endblock %}