{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
  <h1>Inventory</h1>    

  <div class="page-form-section">
    <h2>Order fulfillment</h2>

    <div class="grid">
      {% for tuple in orders%}
        <a href="{{ url_for('sell.view_inventory_item', pid=tuple.pid) }}" class="grid-item-full">
          <div class="item-image">
            <img src={{tuple.p_image}} alt="Photo">
          </div>
          
          <h3>{{tuple.p_name}}</h3>
          <div class="item-description"><span class="item-category">{{tuple.p_category}}</span></div>
          
          <div class="item-price">${{tuple.unit_price_at_time_of_payment}}</div>
          <div>Qty: {{tuple.quantity}}</div>

          <div>Seller ID: {{tuple.sid}}</div>
          <div>Product ID: {{tuple.pid}}</div>
          <div>User ID: {{tuple.uid}}</div>
          <div>Line item ID: {{tuple.id}}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
