{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
  <h1>Inventory</h1>    

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="page-form-section">
    <h2>Order fulfillment</h2>

    <div class="sort">Date ordered ▼</div>

    <div class="grid">
      {% for tuple in orders%}
        <a href="{{ url_for('sell.toggle_order_fulfilled', id=tuple.id) }}" class="{{'order-item-fulfilled' if tuple.fulfilled else 'order-item-unfulfilled'}}">
          <!-- <div class="item-image">
            <img src={{ tuple.p_image}} alt="Photo">
          </div> -->
          <div class="order-ids">
            <div class="order-id">ORDER ID {{tuple.oid}}</div>
            <div class="purchase-id">PURCHASE ID {{tuple.id}}</div>
            <div class="product-id">PRODUCT ID {{tuple.pid}}</div>
          </div>

          <div class="order-details">
            <div class="order-details-upper">
              <div><h3>{{tuple.product_name}}</h3></div>
              <div class="order-status">Status: {{ '✅' if tuple.fulfilled else '⌛'}}</div>
            </div>
            
            <div class="order-details-lower">
              <span class="item-category">{{tuple.category}}</span>
              <div class="item-price">${{tuple.unit_price_at_time_of_payment}}</div>
              <div>Qty: {{tuple.quantity}}</div>
              <div>{{tuple.user_full_name}}</div>
              <div>{{tuple.user_address}}</div>
            </div>
          </div>

          <div class="date-ordered">{{tuple.date_ordered}}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
