<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nile.com</title>
  
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Order fulfillment hover functionality -->
  <script>
    $(document).ready(function () {
      $(".order-item-fulfilled").hover(function() {
        $(this).addClass("order-item-unfulfilled");
        $(this).removeClass("order-item-fulfilled");
        $(this).find("div.order-status").text('Mark as ⌛');
      }, function() {
        $(this).removeClass("order-item-unfulfilled");
        $(this).addClass("order-item-fulfilled");
        $(this).find("div.order-status").text('Status: ✅');
      });

      $(".order-item-unfulfilled").hover(function() {
        $(this).addClass("order-item-fulfilled");
        $(this).removeClass("order-item-unfulfilled");
        $(this).find("div.order-status").text('Mark as ✅');
      }, function() {
        $(this).removeClass("order-item-fulfilled");
        $(this).addClass("order-item-unfulfilled");
        $(this).find("div.order-status").text('Status: ⌛');
      });
    });
  </script>

  <!-- Balance scripts-->
  <script>
      function toggleButton(id) {
        var x = document.getElementById(id);
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  
  <!--carousel JS-->
  <script type = "module" src = "{{ url_for('static', filename='js/carousel.js') }}"></script>
  
  <!-- Bootstrap styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  
  <!-- CSS link -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel = "stylesheet" href = "{{ url_for('static', filename='css/extra_styles.css') }}"
  
  <!-- Google fonts: Syne -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap" rel="stylesheet">

  <!-- Google fonts: Work Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="side-nav">
    {% block msg %}
      <div class="top-bar">
        <a class="nile" href="{{ url_for('index.index') }}">Nile</a>
      
        <div class="nav-buttons">
          
          <div>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('users.view_accounts') }}" type="button">Search Accounts</a>
            {% endif %}
          </div>
  
          <div>
            <a href="{{ url_for('product.k_product_page') }}" type="button">Browse</a>
          </div>

          <div>
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('sell.inventory_page') }}"type="button">Sell with Nile</a>
            {% endif %}
          </div>

          <div>
            {% if not current_user.is_authenticated %}
              <a href="{{ url_for('users.login') }}" type="button">Sign in</a>              
            {% endif %}
          </div>
        </div>
      </div>

      
      {% if current_user.is_authenticated %}
        <div class="bottom-bar">
          <div class="greeting">
            👋 Hello, {{current_user.full_name.split()[0]}}!
          </div>

          <div class="user-nav">
            <div class="dropdown">
              <a href="{{ url_for('users.account_page') }}" type = "button" style = "font-size:35px">
                👤
              </a>
              <div class="dropdown-content">
                <a href = "{{ url_for('users.account_page')}}" type = "button">😀 My Account</a>
                <a href="{{ url_for('users.balance') }}" type="button">💵 My Wallet</a>
                <a href="{{ url_for('index.purchases') }}" type="button">📦 My Orders</a>
                <a href="{{ url_for('reviews.reviews_page') }}" type="button">📝 My Reviews</a>
                <a href="{{ url_for('users.logout') }}" type="button">🖐️ Sign Out</a> 
              </div>
            </div>

            <div>
              <a href="{{ url_for('buy.cart_page') }}" type="button" style = "font-size:35px">🛒</a>
            </div>

            <!--
            <div>
              <a href="{{ url_for('users.balance') }}" type="button">My wallet</a>
            </div>

            <div>
              <a href="{{ url_for('index.purchases') }}" type="button">My orders</a>
            </div>

            <div>
              <a href="{{ url_for('reviews.reviews_page') }}" type="button">My reviews</a>
            </div>

            <div>
              <a href="{{ url_for('buy.cart_page') }}" type="button">🛒</a>
            </div>

            <div>
              <a href = "{{ url_for('users.account_page')}}" type = "button">My account</a>
            </div>

            <div>
              <a href="{{ url_for('users.logout') }}" type="button">Sign out</a> 
            </div>
            -->
          </div>
        </div>
      {% endif %}
      
    {% endblock %}
  </div>

  <div class="main">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
