{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
    <h1>Orders</h1>
    
    <div class="flash-notifications">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div>
        {% for message in messages %}
        <div class="flash-message">⚠️ {{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
     
    <div>
      <h2>Your previous orders</h2>

      <div class="sort">Date ordered ▼</div>
      <div>Search query by products</div>
      <div class="item-quantity page-form-section">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            {{ form.query.label }}<br/>
            {{ form.query(size=32) }}<br/>
            {% for error in form.query.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
        </form>
      </div>

      {{ pagination.links }}
      <div class="grid">
        {% for tuple in map %}
          <div class="order-item">
            <div class="order-top-bar">
              <div class="order-id-details">
                <div class="main-id">ORDER ID {{tuple.id}}</div>
                <div class="date">{{tuple.date_ordered}}</div>
              </div>
              <div class="order-status">Order status: {{ '✔️' if tuple.fulfilled else '✖'}}</div>
            </div>
            
            <div class="order-subtotal">
              <span class="number">${{map[tuple][1]}}</span> <span class="text">Subtotal</span>
            </div>

            <div class="purchases">            
              {% for elem in map[tuple][0] %}
              <div class="purchase-item">
                <div class="purchase-item-upper">
                  <div><h3>{{elem.product_name}}</h3></div>
                  <div class="purchase-status">Status: {{ '✅' if elem.fulfilled else '⌛'}}</div>
                </div>

                <div class="purchase-item-lower">
                  <span class="item-category">{{elem.category}}</span>
                  <div class="item-price">${{elem.unit_price_at_time_of_payment}}</div>
                  <div class>Qty: {{elem.quantity}}</div>
                  <div class="date">Purchased on {{elem.time_purchased}}</div>

                  <div class="review-purchase">
                    <div class="review-button">
                      <a href="{{ url_for('reviews.add_product_review', pid = elem.pid) }}">Review product "{{ elem.product_name }}"</a>
                    </div>

                    <div class="review-button">
                      <a href="{{ url_for('reviews.add_seller_review', sid = elem.sid) }}">Review seller {{ elem.seller_name }} </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      {{ pagination.links }}
    </div>

</div>

{% endif %}

{% endblock %}