{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
    <h1>Orders Page</h1>
    <div class="flash-notifications">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div>
        {% for message in messages %}
        <div class="flash-message">⚠️ {{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
     
    <div>
        <h2>Your previous orders</h2>
        <div class= "grid">
            {% for tuple in map%}
              <div class = "grid-item">
                  <div>Order ID: {{tuple.id}}</div>
                  <div>Date_ordered: {{tuple.date_ordered}}</div>
                  <div>Order Fufillment: {{tuple.fulfilled}}</div>
                  <div>
                    Subtotal: <b>${{map[tuple][1]}}</b>
                  </div>
                  {%for elem in map[tuple][0]%}
                      <div>Product name: {{elem.product_name}}</div>
                      <div class="item-image">
                        <img src={{elem.image}} alt="Photo">
                      </div> 
                      <a href="{{ url_for('reviews.add_product_review', pid = elem.pid) }}" class="view-button">Review Product</a>
                      <a href="{{ url_for('reviews.add_seller_review', sid = elem.sid) }}" class="view-button">Review Seller</a>
                      <div class="item-description"><span class="item-category">{{elem.category}}</span>{{elem.description}}</div>
                      <div class="item-final-price"> Final Price: ${{elem.unit_price_at_time_of_payment}}</div>
                      <div class = "item-quantity">
                        <span class="bold">Qty: {{elem.quantity}}</span>
                      </div>
                      <div> item Fufillment: {{elem.fulfilled}} </div>
                  {% endfor %}
              </div>
            {% endfor %}
          </div>
    </div>

</div>

{% endif %}

{% endblock %}