{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
    <h1>Orders Page</h1>    
    <div>
        <h2>Your previous orders</h2>
        <div class="grid">
            {% for order_tuple_key in map%}
            <div class="grid-item">
              <div>Order ID: {{order_tuple_key.id}}</div>
              <div>Date_ordered: {{order_tuple_key.date_ordered}}</div>
              <div>Order fulfillment: {{order_tuple_key.fulfilled}}</div>
              <div>
                Subtotal: <b>${{map[order_tuple_key][1]}}</b>
              </div>

              {% for purchase in map[order_tuple_key][0]%}
              <div>
                <div>Product name: {{purchase.product_name}}</div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
    </div>

</div>

{% endif %}

{% endblock %}