{% extends "base.html" %}

{% block content %}
<div class = "page-content">
  <h1>Products</h1>

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <h2>Featured products</h2>
  <div class = "carousel-container">
    <div id="carousel" class="carousel">

      {% for i in range(8) %}
        {% if i == 0 %}
          <div id='iten_1' class="hideLeft">
            <img src= {{featured_products[i].image}}>
          </div>
        {% elif i == 1 %}
        <div id='iten_1' class="prevLeftSecond">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 2 %}
        <div id='item_3' class="prev">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 3 %}
        <div id='item_4' class="selected">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 4 %}
        <div id='item_5' class="next">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 5 %}
        <div id='item_6' class="nextRightSecond">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 6 %}
        <div id='item_7' class="hideRight">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 7 %}
        <div id='item_8' class="hideRight">
          <img src= {{featured_products[i].image}}>
        </div>
        {% endif %}

      {% endfor %}

    </div>

  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>
  </div>

  <div class="page-form-section">
  <h2>Products for sale</h2>
  <div class="item-quantity">
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.query.label }}<br/>
      {{ form.query(size=32) }}<br/>
      {% for error in form.query.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}


    </p>
    <p>
      {{ form.category.label }}<br/>
      {{ form.category }}<br/>
      {% for error in form.category.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      
    </p>

    <p>
      {{ form.price.label }}<br/>
      {{ form.price }}<br/>
      {% for error in form.price.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      
    </p>
    <p>{{ form.submit() }}</p>
</form>
</div>
</div>

{{ pagination.links }}
  <div class="grid">
    
    {% for tuple in avail_products%}
      <a href="{{ url_for('product.product_page', pid=tuple.id) }}" class="grid-item">
        
        <div class="item-ids">
          <div class="main-id">PRODUCT ID {{tuple.id}}</div>
        </div>

        <div class="item-details">
          <div class="item-details-image">
            <img src={{tuple.image}} alt="Image">
            {% if current_user.is_authenticated %}
            
            {% endif %}
          </div>

          <div class="item-details-content">
            <div><h3>{{tuple.name}}</h3></div>
            <div class="item-seller"><span class="bold">Seller: </span>{{tuple.full_name}}</div>
            <span class="item-category">{{tuple.category}}</span>
            <div class="item-price">${{tuple.unit_price}}</div>
            <div class="item-description">{{tuple.description}}</div>
            
          </div>
        </div>

        
      </a>
    {% endfor %}
  </div>
  {{ pagination.links }}

{% endblock %}
