{% extends "base.html" %}

{% block content %}
<div class = "page-content">
  <h1>Products</h1>

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <h2>Featured products</h2>
  <div class = "carousel-container">
    <div id="carousel" class="carousel">

      {% for i in range(8) %}
        {% if i == 0 %}
          <div id='iten_1' class="hideLeft">
            <img src= {{featured_products[i].image}}>
          </div>
        {% elif i == 1 %}
        <div id='iten_1' class="prevLeftSecond">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 2 %}
        <div id='item_3' class="prev">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 3 %}
        <div id='item_4' class="selected">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 4 %}
        <div id='item_5' class="next">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 5 %}
        <div id='item_6' class="nextRightSecond">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 6 %}
        <div id='item_7' class="hideRight">
          <img src= {{featured_products[i].image}}>
        </div>
        {% elif i == 7 %}
        <div id='item_8' class="hideRight">
          <img src= {{featured_products[i].image}}>
        </div>
        {% endif %}

      {% endfor %}

    </div>

  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>
  </div>


  <h2>Products for sale</h2>
  <div class="grid">
    {% for tuple in avail_products%}
      <a href="{{ url_for('product.product_page', pid=tuple.id) }}" class="grid-item">
        
        <div class="item-ids">
          <div class="main-id">PRODUCT ID {{tuple.id}}</div>
        </div>

        <div class="item-details">
          <div class="item-details-image">
            <img src={{tuple.image}} alt="Image">
            {% if current_user.is_authenticated %}
            
            {% endif %}
          </div>

          <div class="item-details-content">
            <div><h3>{{tuple.name}}</h3></div>
            <span class="item-category">{{tuple.category}}</span>
            <div class="item-price">${{tuple.unit_price}}</div>
            <div class="item-description">{{tuple.description}}</div>
          </div>
        </div>

        
      </a>
    {% endfor %}
  </div>

  {% if current_user.is_authenticated %}
  <h2>Your recent purchases</h2>
  <div class="grid">
    {% for tuple in purchase_history%}
      <div class="grid-item">
        <div class="item-image">Image: {{tuple.image}}</div>
        <div>Product ID: {{tuple.id}}</div>
        <h3>{{tuple.name}}</h3>
        <div class="item-description"><span class="item-category">{{tuple.category}}</span>{{tuple.description}}</div>
        
        <div class="item-price">${{tuple.unit_price}}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% endif %}

{% endblock %}
