{% extends "base.html" %}

{% block content %}

<div class = "page-content">
  <h1>Products</h1>

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <h2>Products for sale</h2>
  <div class="grid">
    {% for tuple in avail_products%}
      <div class="grid-item">
        <div class="item-ids">
          <div class="main-id">PRODUCT ID {{tuple.id}}</div>
        </div>

        <div class="item-details">
          <div class="item-details-image">
            <img src={{tuple.image}} alt="Image">
            {% if current_user.is_authenticated %}
            <div class="add-button-container">
              <a href="{{ url_for('product.add_to_cart', pid=tuple.id) }}" class="add-button">Add to cart</a>
            </div>
            {% endif %}
          </div>

          <div class="item-details-content">
            <div><h3>{{tuple.name}}</h3></div>
            <span class="item-category">{{tuple.category}}</span>
            <div class="item-price">${{tuple.unit_price}}</div>
            <div class="item-description">{{tuple.description}}</div>
          </div>
        </div>

        
      </div>
    {% endfor %}
  </div>

  {% if current_user.is_authenticated %}
  <h2>Your recent purchases</h2>
  <div class="grid">
    {% for tuple in purchase_history%}
      <div class="grid-item">
        <div class="item-image">Image: {{tuple.image}}</div>
        <div>Product ID: {{tuple.id}}</div>
        <h3>{{tuple.name}}</h3>
        <div class="item-description"><span class="item-category">{{tuple.category}}</span>{{tuple.description}}</div>
        
        <div class="item-price">${{tuple.unit_price}}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% endif %}

{% endblock %}
