{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
  <h1>Inventory</h1>    

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="page-form-section">
    <h2>Quick actions</h2>

    <div class="quick-actions">
      <a href="{{ url_for('sell.add_to_inventory_page') }}" type="button" class="quick-actions-button">Add new product</a>

      <a href="{{ url_for('sell.order_fulfillment_page') }}" type="button" class="quick-actions-button">Order fulfillment</a>

      <a href="{{ url_for('sell.inventory_page') }}" type="button" class="quick-actions-button">Customer analytics (TODO)</a>
    </div>
  </div>

  <div>
    <h2>Your products for sale</h2>

    <div class="grid">
      {% for tuple in inventory%}
        <a href="{{ url_for('sell.view_inventory_item', pid=tuple.pid) }}" class="grid-item">
          <div class="item-ids">
            <div class="main-id">PRODUCT ID {{tuple.pid}}</div>
          </div>

          <div class="item-details">
            <div class="item-details-image">
              <img src={{tuple.image}} alt="Photo">
            </div>

            <div class="item-details-content">
              <div><h3>{{tuple.name}}</h3></div>
              <span class="item-category">{{tuple.category}}</span>
              <div class="item-price">${{tuple.unit_price}}</div>
              <div>{{tuple.quantity}} in stock</div>
            </div>
          </div>         
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
