{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
  <h1>Inventory</h1>    

  <div class="flash-notifications">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="flash-message">⚠️ {{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="page-form-section">
    <h2>Quick actions</h2>

    <div class="quick-actions">
      <a href="{{ url_for('sell.add_to_inventory_page') }}" type="button" class="quick-actions-button">Add new product for sale</a>

      <a href="{{ url_for('sell.inventory_page') }}" type="button" class="quick-actions-button">View buyer analytics TODO</a>
    </div>
  </div>

  <div>
    <h2>Your products for sale</h2>

    <div class="grid">
      {% for tuple in inventory%}
        <a href="{{ url_for('sell.view_inventory_item', pid=tuple.pid) }}" class="grid-item">
          <div class="item-image">Image: {{tuple.image}}</div>
          <h3>{{tuple.name}}</h3>
          <div class="item-description"><span class="item-category">{{tuple.category}}</span>{{tuple.description}}</div>
          
          <div class="item-price">${{tuple.unit_price}}</div>
          <div>{{tuple.quantity}} in stock</div>

          <div>Seller ID: {{tuple.sid}}</div>
          <div>Product ID: {{tuple.pid}}</div>
        </a>
      {% endfor %}
    </div>

    <!-- <table class="table table-hover table-bordered container">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Seller ID</th>
          <th scope="col">Product ID</th>
          <th scope="col">Product name</th>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity in stock</th>
          <th scope="col">Unit price</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {% for tuple in inventory%}
          <tr>
            <td scope="row">{{tuple.sid}}</td>
            <td scope="row">{{tuple.pid}}</td>
            <td scope="row">{{tuple.name}}</td>
            <td scope="row">{{tuple.image}}</td>
            <td scope="row">{{tuple.description}}</td>
            <td scope="row">
              <div class="quantity-cell">
                <div>{{tuple.quantity}}</div>
                <div>
                  <a href="{{ url_for('sell.inventory_page') }}" type="button" class="edit-button">Edit</a>
                </div>
              </div>
            </td>
            <td scope="row">{{tuple.unit_price}}</td>
            <td scope="row">{{tuple.category}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </div>
</div>

{% endif %}

{% endblock %}
