{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<div class="page-content">
    <h1>Cart item</h1> 
    <div class="page-form-section">
        <h2>Product details: {{ item.name }}</h2>
        <div class="product-details">
            <img src={{item.image }} alt="Photo">
            <div><span class="bold">Seller:</span> <a href="{{ url_for('users.view_accounts', id=item.sid) }}">{{ item.full_name }}</a></div>
            <div><span class="bold">Category:</span> {{ item.category }}</div>
            <div><span class="bold">Description:</span> {{ item.description }}</div>
            <div><span class="bold">Unit price:</span> ${{item.unit_price}}</div>
            <div><span class="bold">Average Rating:</span> {{stats}}</div>
            <div class="item-quantity">
              <span class="bold">Qty:</span>
              <form action=""  method="post">
                {{ edit_quantity_form.hidden_tag() }}
                {{ edit_quantity_form.quantity(size=4, placeholder=item.quantity) }}<br/><br/>
  
                {% for error in edit_quantity_form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}           
                
                {{ edit_quantity_form.submit() }}
              </form>
              <a href="{{ url_for('buy.delete_later_item', pid=item.pid) }}" class="delete-button">Delete</a>
              <a href="{{ url_for('buy.move_later_item', pid=item.pid) }}" class="later-button">Back to cart</a>
            </div>
            <br>
            <br>
            <h2>Product Reviews</h2>
            <div> 
              <table class='table table-hover table-bordered container'>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Review Time</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tuple in summary_reviews%}
                  <tr>
                    <td scope="row">{{tuple.date}}</td>
                    <td scope="row">{{tuple.rating}}</td>
                    <td scope="row">{{tuple.review}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
</div>

{% endif %}

{% endblock %}
