{% extends "base.html" %}

{% block content %}


<div class="page-content">
    <h1>Product</h1> 
    <div class="page-form-section">
        <h2>Product Name: {{ item.name }}</h2>
        <div class="product-details">
            <img src={{item.image }} alt="Photo">
            <div><span class="bold">Seller:</span> {{ item.full_name }}</div>
            <div><span class="bold">Category:</span> {{ item.category }}</div>
            <div><span class="bold">Description:</span> {{ item.description }}</div>
            <div><span class="bold">Unit price:</span> ${{item.unit_price}}</div>
            <div><span class="bold">Average Rating:</span> {{stats}}</div>
            <div><span class="bold">Number of Ratings:</span> {{num_reviews}}</div>
            <div><span class="bold">Amount in Stock:</span> {{stock}}</div>
            {% if current_user.is_authenticated %}
            <div class="item-quantity">
                <span class="bold">Qty:</span>
                <form action=""  method="post">
                  {{ add_cart_form.hidden_tag() }}
                  {{ add_cart_form.quantity(size=4) }}<br/><br/>
    
                  {% for error in add_cart_form.quantity.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}           
                  
                  {{ add_cart_form.submit() }}
                </form>
              </div>
              {% endif %}
              <h2>Product Reviews</h2>

              <table class='table table-hover table-bordered container'>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Review Time</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tuple in summary_reviews%}
                  <tr>
                    <td scope="row">{{tuple.date}}</td>
                    <td scope="row">{{tuple.rating}}</td>
                    <td scope="row">{{tuple.review}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </div>
</div>


{% endblock %}
