{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h1>Your Recent Purchases</h1>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!--<th scope="col">Product Name</th>-->
      <!--<th scope="col">Price</th>-->
      <th scope="col">Time Purchased</th>
      <th scope = "col">Item</th>
      <th scope = "col">Price</th>
      <th scope = "col">Quantity</th>
      <th scope = "col">Fulfilled</th>
    </tr>
  </thead>
  <tbody>
    {% for tuple in purchases%}
      <tr style = "color: white">
        <!--<td>{{tuple.name}}</td>-->
        <!--<td>{{tuple.price}}</td>-->
        <th scope="row">{{tuple.time_purchased}}</th>
        <th scope = "row"><a href = ''>{{tuple.product_name}}</a></th>
        <th scope = "row">{{tuple.unit_price_at_time_of_payment}}</th>
        <th scope = "row">{{tuple.quantity}}</th>
        <th scope = "row">{{tuple.fulfilled}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchases!</p>
{% endif %}

{% endblock %}
